<div class="card-holder">

  <div class="card">

    <div class="card-title">Upload the transaction file</div>
    <div class="card-subtitle">Accepted format: .xls</div>

      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
          <ng-template ngx-file-drop-content-tmp>
            <img src="/assets/img/folder.png" />
            <span>Drag & Drop the file here</span>
          </ng-template>
      </ngx-file-drop>

      <div class="text-center">
        <div class="upload-feedback" *ngIf="response">
          <span class="neutral" *ngIf="response?.status === false && response.message">{{response.message}}</span>
          <span class="success" *ngIf="response.status">Inserted a total of {{response?.totalInsertedTransactions?.deposit}} deposit transactions and {{response?.totalInsertedTransactions?.withdrawal}} withdrawal transactions.</span>
        </div>

        <div *ngIf="isLoading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>

      <ng-container *ngIf="lastTransaction">
        <div class="text-center last-transaction">

          <span class="last-transacton-heading">Last transaction found</span>
          <span class="last-transacton-description">The last transaction within Firefly API is described below. To ensure transaction consistency, please make sure the new file either includes this transaction, or its first transaction happens right after the one:</span>

          <hr />

          <table>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Type</th>
            </tr>
            <tr>
              <td>{{lastTransaction.date | date:'d/M/Y'}}</td>
              <td>{{lastTransaction.description}}</td>
              <ng-container [ngSwitch]="lastTransaction.type">
                <td>
                  <span class="transaction-type transaction-type-withdrawal" *ngSwitchCase="'withdrawal'">-</span>
                  <span class="transaction-type transaction-type-deposit" *ngSwitchCase="'deposit'">+</span>
                  <span class="transaction-type transaction-type-transfer" *ngSwitchCase="'transfer'">&lt;=&gt;</span>
                </td>
              </ng-container>
            </tr>
          </table>
        </div>
      </ng-container>


  </div>

</div>
