<div class="card-holder">

  <div class="card">

    <div class="card-title">Upload your files</div>
    <div class="card-subtitle">Accepted format: .xls</div>

    <!--div class="card-upload-area"-->

      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <img src="/assets/img/folder.png" />
            <span>Drag & Drop your files here</span>
          </ng-template>
      </ngx-file-drop>

    <!--/div-->

    <div class="upload-feedback">
      <span>Uploaded files</span>
    </div>

  </div>

</div>
