@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$color-grey: #999999;

* {
  font-family: 'Montserrat', sans-serif;
}

.card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100vh;
  width: 100vw;
  background-color: rgb(243, 246, 253);

  .card {
    max-width: 30vw;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 50px;

    .card-title {
      font-size: 1.60rem;
      text-align: center;
      font-weight: 500;
      margin: 0 0 10px 0;
    }
    .card-subtitle {
      font-size: 1rem;
      text-align: center;
      color: $color-grey;
    }
    .last-transaction{

      .last-transacton-heading{
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0 0 15px 0;
        color: #616161;
      }
      .last-transacton-description{
        display: block;
        text-align: center;
        font-size: 0.75rem;
        color: #616161;
      }

      hr {
        height: 1px;
        border: none;
        background-color: #f0f0f0;
        margin: 25px 0;
      }

      table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        th, td {
          text-align: left;
          padding: 10px;
          vertical-align: middle;
        }
        th{
          font-size: 0.80rem;
          background-color: rgba(0,0,0,.02);
          color: #5c6b77;
        }
        td {
          font-size: 0.75rem;

          span.transaction-type{
            display: block;
            text-align: center;
            font-size: 2rem;

            &.transaction-type-withdrawal {
              color: #b71c1c;
            }
            &.transaction-type-deposit {
              color: #8bc34a;
            }
            &.transaction-type-transfer {
              color: #ff9800;
            }
          }
        }
      }
    }
  }

  .upload-feedback{
    margin: 15px 0;
    span {
      color: $color-grey;
      display: block;
      margin: 15px 0 0 0;
      font-size: 0.8rem;

      &.success{
        color: #8bc34a;
      }

      &.neutral{
        color: #ff9800;
      }
    }
  }

}


::ng-deep {
  ngx-file-drop {
    .ngx-file-drop__drop-zone{
      margin: 50px 0 20px 0 !important;
      border: 2px dashed rgb(145, 171, 212) !important;
      border-radius: 15px !important;
      padding: 70px;
      background-color: rgb(250, 251, 253);
      text-align: center;

      .ngx-file-drop__content{
        flex-direction: column;
      }

      img {
        display: block;
      }

      span {
        color: $color-grey;
        display: block;
        font-size: 0.8rem;
        margin: 15px 0 0 0;
      }
    }
  }
}



/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(145, 171, 212);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.text-center {
  text-align: center;
}
