@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$color-grey: #999999;

* {
  font-family: 'Montserrat', sans-serif;
}

.card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100vh;
  width: 100vw;
  background-color: rgb(243, 246, 253);

  .card {
    border-radius: 25px;
    background-color: #ffffff;
    padding: 50px;

    .card-title {
      font-size: 1.60rem;
      text-align: center;
      font-weight: 500;
      margin: 0 0 10px 0;
    }
    .card-subtitle {
      font-size: 1rem;
      text-align: center;
      color: $color-grey;
    }
  }

  .upload-feedback{
    span {
      color: $color-grey;
      display: block;
      margin: 15px 0 0 0;
      font-size: 0.8rem;

      &.success{
        color: #8bc34a;
      }

      &.neutral{
        color: #ff9800;
      }
    }
  }

}


::ng-deep {
  ngx-file-drop {
    .ngx-file-drop__drop-zone{
      margin: 50px 0 20px 0 !important;
      border: 2px dashed rgb(145, 171, 212) !important;
      border-radius: 15px !important;
      padding: 70px;
      background-color: rgb(250, 251, 253);
      text-align: center;

      .ngx-file-drop__content{
        flex-direction: column;
      }

      img {
        display: block;
      }

      span {
        color: $color-grey;
        display: block;
        font-size: 0.8rem;
        margin: 15px 0 0 0;
      }
    }
  }
}



/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(145, 171, 212);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.text-center {
  text-align: center;
}
